<section>
  <div class="row align-items-center">
    <div class="col-12 text-center">
      <h2 class="font-weight-bold">Honest, transparent pricing</h2>
    </div>
  </div>
</section>

<section>
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-sm-10">
      <img src="assets/img/pricing/pricing.svg" class="img-fluid" alt="">
    </div>
  </div>
</section>

<app-launching></app-launching>

<section>
  <h4 class="font-weight-bold">What you get</h4>
  <div class="row">
    <ng-container *ngFor="let detail of productDetails">
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-md-2 d-none d-md-block mt-4">
            <img [src]="detail.imgSrc" class="img-fluid" style="max-height: 40px;" alt="">
          </div>
          <div class="col-sm-12 col-md-10 mt-4">
            <h5 class="font-weight-bold mb-0">{{detail.title}}</h5>
          </div>
          <div class="col-md-2 d-none d-md-block">
          </div>
          <div class="col-sm-12 col-md-10">
            <p>{{detail.description}}</p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
