<section>
  <div class="row align-items-center flex-md-row-reverse">
    <div class="col-sm-12 col-md-4">
      <img src="assets/img/misc/fiduciary.svg" class="img-fluid" style="max-height: 120px;" alt="">
    </div>
    <div class="col-sm-1 col-md-1"></div>
    <div class="col-sm-12 col-md-7 text-left mt-5 mt-md-0">
      <div class="h4 font-weight-bold">Fiduciary <div class="d-block d-md-none" style="line-height: 0;"><br></div><span class="h5">(fi - doo - shee - air - ee)</span></div>
      <p>
        And did we mention that we are legally
        obligated to always put your best interests
        ahead of ours? Because we are (and it’s
        because we care about you).
      </p>
      <p>
        We hold ourselves to the Fiduciary Standard
        of Care which means that we will always
        do the right thing for you, no matter what.
      </p>
    </div>
  </div>
</section>
