<section *ngIf="router.url !== '/reserve-your-spot' && router.url !== '/pricing'">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 text-center">
      <h4 class="font-weight-bold mb-0">Launching Fall of 2019</h4>
    </div>
    <div class="col-8 col-md-3 mt-3">
      <button class="btn-planly btn-block" routerLink="/reserve-your-spot">Get 40% off</button>
    </div>
  </div>
</section>

<section *ngIf="router.url === '/pricing'">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 text-center">
      <h4 class="font-weight-bold">Launching Fall of 2019</h4>
      <p class="font-weight-bold">Reserve your spot and receive 40% off our one-time setup fee!</p>
    </div>
    <div class="col-12 col-sm-6 mt-2">
      <button class="btn-planly btn-block" routerLink="/reserve-your-spot">Reserve Now</button>
    </div>
  </div>
</section>
