<section class="sub-section">
    <div class="row align-items-center justify-content-center">
      <div class="col d-flex align-items-center justify-content-center mb-4 mb-md-0">
        <img src="assets/img/about/top_image.svg" class="img-fluid" style="max-height: 280px;" alt="">
      </div>

      <div class="col-sm-12 col-md-6 text-left">
        <blockquote class="blockquote d-flex justify-content-center justify-content-md-start flex-column">
          <h4 class="overhang-punctuation font-weight-bold">&#8220;Putting people first became uncommon in financial advice, we’re here to change that.&#8221;</h4>
          <footer class="mt-0 mb-0 blockquote-footer">Justin Halldorson, Director</footer>
        </blockquote>
      </div>
    </div>
</section>

<section>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center flex-column">
      <h2 class="font-weight-bold">No sales pitch.</h2>
      <h2 class="font-weight-bold">No commissions.</h2>
      <h2 class="font-weight-bold">No <span class="text-a-secondary font-italic">stress</span>.</h2>
    </div>
  </div>
</section>

<section>
  <div class="row align-items-center">
    <div class="col-12">
      <h4 class="font-weight-bold">What we do</h4>
      <p>
        We learn about your life and provide you with financial advice that
        actually makes sense. All of our plans are verified by a Certified
        Financial Planner ™, which means you can be sure that you are getting
        the best advice possible.
        <br><br>
        We take your current financial situation and combine it with your goals
        to create a custom plan that fits your needs. We take that plan and
        put it into a to-do list that tells you exactly what you need to do in order
        to reach the goals you’ve given us. Your personal advisor is there for you
        to make sure you feel confident every step of the way.
        <br><br>
        Whether you want to start a family or start a business (or both!),
        we’re here to guide you on your journey by providing 100%
        unbiased financial advice from people who care.
      </p>
    </div>
  </div>
</section>

<section class="sub-section">
  <div class="row align-items-center">
    <div class="col-12">
      <h4 class="font-weight-bold">Who we are</h4>
      <p>
        Everyone that works at Planly has the same goal:
        <br><br>
        <span class="font-weight-bold">
          To help as many people as they can feel confident
          about their money.
        </span>
        <br><br>
        We’re real people who come from diverse backgrounds and
        experiences. We don’t believe in selling you things you don’t need, and
        we definitely don’t believe in commissions. Anything we recommend as
        part of your plan is truly because we think it is a smart financial decision.
        We’re here to change the face of financial advice by providing complete
        transparency in everything we do.
        <br><br>
        We’re also really, really big nerds about money. When you become a
        member of the Planly family you not only have access to a
        dedicated advisor, you have access to our whole team. We all
        work together to make sure that every person we help receives
        the best advice possible.
      </p>
    </div>
  </div>
</section>
<fiduciary></fiduciary>
