<reusable-navbar>
  <!-- Navbar -->
  <ng-container *ngFor="let item of navbarItems" [ngSwitch]="item.type" navbar>
    <ng-template [ngSwitchCase]="NavbarItems.LINK">
      <a class="nav-item nav-link mx-3" [translate]="item.content" [routerLink]="item.link"></a>
    </ng-template>

    <ng-template [ngSwitchCase]="NavbarItems.SEPARATOR">
      <a class="nav-item nav-link disabled mx-1">{{item.content}}</a>
    </ng-template>

    <ng-template [ngSwitchCase]="NavbarItems.BUTTON">
      <a class="nav-item nav-link nav-btn {{item.link}}" [translate]="item.content" href="#"></a>
    </ng-template>
  </ng-container>

  <!-- Sidebar -->
  <div sidebar>
    <ng-container *ngFor="let item of navbarItems" [ngSwitch]="item.type">
      <ng-template [ngSwitchCase]="NavbarItems.LINK">
        <a class="nav-item nav-link" [translate]="item.content" [routerLink]="item.link"></a>
      </ng-template>

      <ng-template [ngSwitchCase]="NavbarItems.SEPARATOR">
        <hr class="nav-item nav-link disabled my-0 py-0">
      </ng-template>

      <ng-template [ngSwitchCase]="NavbarItems.BUTTON">
        <a class="nav-item nav-link nav-btn {{item.link}}" [translate]="item.content" href="#"></a>
      </ng-template>
    </ng-container>
  </div>
</reusable-navbar>
