<nav class="fixed-top navbar navbar-expand-md navbar-light bg-light d-block">
  <div class="body-wrapper d-flex justify-content-between">
    <a href="#" class="navbar-brand">Brand</a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
        <ng-container *ngFor="let item of navbarItems" [ngSwitch]="item.type">
          <ng-template [ngSwitchCase]="NavbarItems.LINK">
            <a class="nav-item nav-link" [translate]="item.content"></a>
          </ng-template>

          <ng-template [ngSwitchCase]="NavbarItems.SEPARATOR">
            <a class="nav-item nav-link disabled">{{item.content}}</a>
          </ng-template>

          <ng-template [ngSwitchCase]="NavbarItems.BUTTON">
            <a class="nav-item nav-link nav-btn">{{item.content}}</a>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
