$hamburger-layer-color: $font-secondary;
$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-hover-opacity: 0.8;
$hamburger-layer-width: 28px;
$hamburger-layer-height: 2.5px;
$hamburger-layer-border-radius: 12px;
$hamburger-layer-spacing: 4px;

.hamburger {
  outline: none !important;
  box-shadow: none !important;
}
