<footer>
  <div class="row">
    <div class="col-sm-12 col-md-4 d-flex justify-content-start justify-content-md-center">
      <div>
        <h5 class="font-weight-bold">Social</h5>
        <div *ngFor="let socialLink of socialLinks">
          <a class="footer-link px-0 py-0" href="{{socialLink.link}}" target="_blank">{{socialLink.name}}</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 mt-4 mt-md-0 d-flex justify-content-start justify-content-md-center">
      <div>
        <h5 class="font-weight-bold">Legal</h5>
        <div>
          <a class="footer-link px-0 py-0" href="assets/legal/Planly Inc. - Privacy Policy.pdf" target="_blank">Privacy Policy</a>
        </div>
        <div>
          <a class="footer-link px-0 py-0" href="assets/legal/Planly Inc. - Terms of Service.pdf" target="_blank">Terms of Service</a>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 mt-4 mt-md-0 d-flex justify-content-start justify-content-md-center">
      <div>
        <h5 class="font-weight-bold">&copy; Planly Inc. {{date.getFullYear()}}</h5>
<!--        <h5 class="font-weight-bold">Planly Inc.</h5>-->
<!--        <div>-->
<!--          <p class="px-0 py-0">Saskatoon, SK</p>-->
<!--        </div>-->
      </div>
    </div>

  </div>
</footer>
